name: Wiki
on:
  push:
    branches:
      - master
      - main
    paths:
      - "apps/wiki/**"
      - "packages/**"
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/configure-pages@v5
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install zensical
        working-directory: apps/wiki
      - run: zensical build --clean
        working-directory: apps/wiki
      - uses: actions/upload-pages-artifact@v4
        with:
          path: apps/wiki/site
      - uses: actions/deploy-pages@v4
        id: deployment
